body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #ececec;
}
.gallery  {
  margin-top: 35px;
  display: flex;

}

div {
  margin-bottom: 30px;
  
}

 img {
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%), 0 3px 6px rgb(0 0 0 / 10%);
    width: 126px;
    height: 126px;
    cursor: pointer;
    max-width: 100%;
    border: solid azure;
    border-radius: 16px;
}
.protrait{
  padding-right: 10px;
}
.name {
  margin-top: 20px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18pt;
  color: #777;
}
